<div class="homepage">
  {% section 'hero' %}
  {% section 'trust-badges' %}
  {% section 'featured-product' %}
  {% section 'emotional-story' %}
  {% section 'reviews' %}
  {% section 'final-cta' %}
</div>